body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.style_div {
  text-align: center;
  padding: 13px;
  background: pink;
  color: #000;
  font-weight: 600;
}

.drawer-wrapper {
  width: 300px;
  height: 100vh;
  background: green;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all .3s ease-in-out;
  transform: translateX(100%);
}
.drawer-wrapper-show {
  transition: all .3s ease-in-out;
  transform: translateX(0) !important;
}